@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}

:root {
    --cor1: rgb(0, 0, 0);
    --cor2: rgb(255, 200, 0);
    --cor3: rgb(255, 255, 255);
}

body {
    background-color: var(--cor1);
    color: var(--cor3);
}
#hero{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:black;
}

.hero-logo{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:25px 15px 10px;
}

.hero-logo img{
    width:92%;
    max-width:850px;
    height:auto;
    display:block;
}

.hero-content{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:25px;
}

.hero-content h1{
    font-size:2.2rem;
    color:var(--cor2);
    margin-bottom:20px;
}

.hero-content p{
    color:var(--cor3);
    font-size:1.1rem;
    max-width:320px;
    line-height:1.6;
}

.hero-content button{
    margin-top:40px;
    padding:14px 32px;
    border:none;
    border-radius:8px;
    background: var(--cor2);
    color:var(--cor1);
    font-weight:bold;
}

button:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}